<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= the_title %>
  </title>

  <link rel="icon" href="/img/post-it.png">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>

</head>

<body style="background-color: #FFCC00;">

  <%- include('./partials/header.ejs') %>


    <div class="background_line">
      <h1 id=header>MY POSTS:</h1>

      <div class="posts list">
        <!-- <h2>All posts:</h2> -->

        <% if (pOsts.length> 0) { %>
          <!-- Если постов в папке app.js больше нуля....  -->
          <% pOsts.slice().reverse().forEach(posT=> { %>
            <!--....то создаются хтмл элементы для каждого поста  -->
            <div>
              <a href="/singlepost/<%= posT.id %>">
                <div class="blog_post">
                  <div class="blog_info">
                    <img src="/img/account.png" alt="account">
                    <span>
                      <%= posT.timestamp.toDateString() %>
                    </span>
                  </div>


                  <% if (posT.pic !='' ) { %>
                    <div class="blog_picture">
                      <img src="<%= posT.pic %>" alt="<%= posT.incasenopic %>">
                    </div>
                    <% } %>


                      <div class="blog_text">
                        <p>
                          <%= posT.text%>
                        </p>
                      </div>
              </a>

              <button class="like" id="L<%= posT.id %>" data-update="<%= posT.id %>"
                onclick="likePlus(likedid = '<%= posT.id %>', likeNum ='<%= posT.likes+1%>' )">
                <img src="/img/thumb-up.png" alt="like">
              </button>
              <span class="likes" id="likesnumber<%= posT.id %>"> Likes:<%= posT.likes %> </span>
            </div>
      </div>
      <% }) %>
        <% } else { %>
          <p>You did not post anything...</p>
          <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
      <script>
        function likePlus(neededid, likeNum) {
          var clicked = false;
          if (!clicked) {
            const likeButtonId = "L" + neededid;
            document.getElementById(likeButtonId).disabled = true;
            const likesnumberid = "likesnumber" + neededid;
            const newLikeNum = "Likes:" + (likeNum);
            document.getElementById(likesnumberid).innerHTML = newLikeNum;
            clicked = true;
            const selector = 'button#L' + neededid;
            const updatereq = document.querySelector(selector);
            console.log(updatereq)
            const endpoint = `/singlepost/${updatereq.dataset.update}/like`;
            console.log(endpoint)
            fetch(endpoint, {
              method: 'PUT'
            })

          }

          /*console.log("tere")
          const updatereq = document.querySelector('button.like');
          updatereq.addEventListener('click', (e) => {
            console.log("tere")
            const endpoint = `/singlepost/${updatereq.dataset.update}/like`;
            fetch(endpoint, {
              method: 'PUT',
            }).then(window.location.href = '/')*/
        };

      </script>
</body>

</html>