<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>KEK</title>

    <link rel="icon" href="/img/post-it.png">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>

</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="singlePageView">
            <div class="blog_post">
                <div class="blog_info">
                    <img src="/img/account.png" alt="account">
                    <span>
                        <%= post.timestamp.toDateString()%>
                    </span>
                </div>

                <% if (post.pic !='' ) { %>
                    <div class="blog_picture">
                        <img src="<%= post.pic %>" alt="<%= post.incasenopic%>">
                    </div>
                    <% } %>

                        <div class="blog_text">
                            <p>
                                <%= post.text%>
                            </p>
                        </div>
                        <button class="like" data-update="<%= post.id %>" id="likeS" onclick="likePlus()">
                            <img src="/img/thumb-up.png" alt="like">
                        </button>
                        <span class="likes" id="numberLikes"> Likes:<%= post.likes %> </span>
            </div>
            <div>
                <a class="delete" data-del="<%= post.id %>">
                    <button class="deleteButton">
                        <img src="/img/delete.png" alt="delete">
                    </button>
                </a>
            </div>

        </div>
        <script>
            const delreq = document.querySelector('a.delete');
            delreq.addEventListener('click', (e) => {
                const endpoint = `/posts/${delreq.dataset.del}`;
                fetch(endpoint, {
                    method: 'DELETE',
                }).then(window.location.href = '/')
            });



            function likePlus(neededid) {
                document.getElementById("numberLikes").innerHTML = "Likes:<%= post.likes+1 %>";
                const putreq = document.querySelector('button.like');
                console.log(putreq)
                const endpoint = `/singlepost/${putreq.dataset.update}/like`;
                console.log(endpoint)
                fetch(endpoint, {
                    method: 'PUT',                    
                })
                document.getElementById("likeS").disabled = true;
            };


        </script>

        <%- include('./partials/footer.ejs') %>
</body>

</html>